@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #353841 !important;
    font-family: 'Montserrat', sans-serif !important;
}

header{
    height: 10vh;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .mob_logo{
    width: 30%;
    padding-left: 5%;
}

.log_sign{
    margin-right: 5%;
    background-color: #f2d71a!important;
    border-radius: 30px;
    display: flex;
    width: 40%;
    max-width: 200px;
    height: 50%;
}

.log_sign img{
width: 15px;
}

.btn.log{
    width: 50%;
    background-color: #353841;
    color: #f2d71a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 2px 0 2px 2px;
    font-size: 14px;
}
.btn.sign{
    font-size: 14px;
    width: 50%;
    margin: 2px 2px 2px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.log_sign button:hover{
    background-color: #353841 ;
    color:#f2d71a;
}

.upperoptions,.loweroptions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 2%;
}


.upperoptions a,
.loweroptions a{
    height: auto;
    /* border: 1px solid #000; */
    text-decoration: none;
    color: #fff;
    background-color: #262933;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18%;
    text-align: center;
    border-radius: 10px;
    font-size: 11px;    
    line-height: 15px;
    padding: 5px;
}

.upperoptions a img,
.loweroptions a img{
width: 25px;
}


.main-promo{
    background-image: url(../images/Kheloyar.club\ Signup\ Page-01\ \(1\).webp);
    width: 93%;
    margin: 10px auto;
    height: 470px;
    background-size: cover;
    background-repeat: no-repeat;
}

.vidbtna{
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 10px 0 ;
}

.vidbtn{
    width: 92%;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right,#f2d71a 0%,#ecb024 100%);
    padding: 15px;
    font-weight: 700;
}

.support{
    width: 93%;
    background-color: #262933;
    margin: 0 auto;
    height: auto;
}

.support p{
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}


.support span{
    color: #f2d71a;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border-radius:10px ;
}

.socials img{
    width: 25px;
}

.how_tosec{
    color: #fff;
    width: 93%;
    background-color: #262933;
    margin: 0 auto;
    margin-top:15px;
}

.how_tosec p{
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

.how_tosec div{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}


.how_tosec .vidbtn{
    width: 40%;
    padding: 5px ;
    font-size: 13px;
    font-weight: 700;
}

.policy{
    color: #5e5e5e;
    width: 93%;
    background-color: #262933;
    margin: 0 auto;
    margin-top:15px;
    font-size: 10px;
    padding: 10px;
}

.policy .policyup,
.policy .policydown
{
    display: flex;  
    font-size: 10px;
    justify-content: space-around;
    padding: 10px 0;
}

.policy h6{
    font-size: 13px;
}

.mini-logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.textname p{
    margin: 0;
    color: #fff;
    font-size: 14px;
}

.textname p a{
    text-decoration: none;
    color: orange;
}

.createid{
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 13px;
    /* padding:10px ; */
    height: 30px;
}

.other_promo {
    display: flex;
    width: 97%;
    padding: 10px;
    margin: 15px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #262933;
    border-radius: 10px;
    /* margin: 10px auto; */
    flex-direction: column;
}

.upper,
.dropdown{
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #262933;
    border-radius: 10px;
    margin: 10px auto;
}

.dropdown{
    display: none;
}
.dropdown.active{
    display: flex;
}

.other_promo .abc {
    display: flex;
    gap: 10px;
    
}

.demoid,
.demopass{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff !important;
    font-size: 12px;
}

.demoid p,
.demopass p{
    margin: 0;
    padding: 5px;
}

.customid{
    width: 100%;
    padding: 10px;
    background-color: #111111;
    border-radius: 10px;
}

.whatsapp{
    width: 50px;
    position: absolute;
    z-index: 999;
    position: fixed;
    z-index: 999;
    bottom: 10%;
    right: 1%;
    /* animation-delay: s; */
    animation: bounce 2.5s infinite;
	-webkit-animation: bounce 2.5s infinite;
	-moz-animation: bounce 2.5s infinite;
	-o-animation: bounce 2.5s infinite;
}

.dropdown button{
    background-color: transparent;
    border: none;
}

.dropdown button img{
    width: 20px;
}

.flex
{
    display: flex;
}



 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}